body {
    background-color:  #F8E0C9;
}

.row {
    background-color:  #FFF4E4;
}

.btn-custom {
    background-color:  #804d3f;
    color: #ffffff;
    min-width: 250px;
    font-size: 20px;
    letter-spacing: 8px;
}

.btn-custom:hover {
    background-color:  #996657;
    color: #ffffff;
}

.h3-custom {
    color: #5a7b60;
    font-weight: 700;
    letter-spacing: 5px;
}

h1 {
    color: #445D48;
    letter-spacing: 5px;
}



